<main class="px-3">
    <div class="container">
        <h1>Merhaba !</h1>
        <p class="lead">Form Management, işletmelerin formlarının yönetimini kolaylaştıran kullanıcı dostu bir platformdur. Bu platform, tüm formlarınızı tek bir yerde saklamanıza, düzenlemenize ve yönetmenize olanak tanır. İşletmenizin formlarını güvenli bir şekilde saklamak, izlemek ve analiz etmek için Form Management'ı kullanabilirsiniz. Ayrıca, özelleştirilebilir formlar oluşturarak iş süreçlerinizi optimize edebilir ve verimliliği artırabilirsiniz. Form Management, tüm işletmelerin formlarının yönetimini basit ve etkili hale getirmek için tasarlanmıştır.</p>
        <p class="lead">
            <a href="/Form/Index" class="btn btn-lg btn-light fw-bold border-white bg-white">Formlara erişmek için Search butonunun yanındaki Forms linkine veya bu yazıya tıklayabilirsiniz.</a>
        </p>
    </div>
</main>